/* Document Layout */


.center {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    background-color: rgb(246, 246, 246);
    max-width: 120ch;

}

.basicPadding {
    padding: 2em
}

.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 2em;
    align-items: center;
}

.sectionHeading {
    margin: 1em 1em .5em 1em
}

.sectionHeading::before {
    content: "👉 ";
}

.exampleContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto
}

.imagePlaceholder1 {
    background-color: gainsboro;
    width: 60ch;
    padding-top: 66.66%;
    display: flex;
    border-radius: 8px;
}

.imagePlaceholder2 {
    background-color: gainsboro;
    width: 60ch;
    padding-top: 66.66%;
    display: flex;
    border-radius: 20px 20px 0 0;
}

.imagePlaceholder3 {
    background-color: gainsboro;
    width: 60ch;
    padding-top: 20%;
    display: flex;
    border-radius: 0 20px 20px 0;
}

.imagePlaceholder4 {
    background-color: gainsboro;
    width: 30ch;
    padding-top: 90%;
    display: flex;

}

.footerCardContainer {
    display: flex;
    width: 120ch;
    justify-content: space-around;

}



/* ______________________________________________________________________________ */
/* ______________________________________________________________________________ */
/* ______________________________________________________________________________ */


h1 {
    font-size: 3.052rem;
    font-family: brandon-grotesque;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 120%;
}

h2 {
    font-size: 2.441rem;
    font-family: "brandon-grotesque", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 120%;
}

h3 {
    font-size: 1.953rem;
    font-family: "brandon-grotesque", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 140%;
}

h4 {
    font-size: 1.563rem;
    font-family: "brandon-grotesque", sans-serif;
    font-style: normal;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 160%;
}

h5 {
    font-size: 1.25rem;
    font-family: "brandon-grotesque";
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 180%;
}

h6 {
    font-size: 1rem;
    font-family: "brandon-grotesque", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 200%;
}

.subhead {
    font-family: 'brandon-grotesque', sans-serif;
    color: #333;
}


.singleColumnText {
    max-width: 60ch;
}

.bodyCopyNormal {
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.35em;
    letter-spacing: .5px;
    color: #333;
    margin: 0 auto;
    padding: .5em 0;

}

.listContainer {
    display: flex;
    justify-content: flex-start;
    /* background-color: lightgray; */
    width: 100%;
}

li {
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    letter-spacing: .5px;
    color: #333;
    margin: 0 auto;
    padding: .1em 0;
    list-style: circle;
}


.pBold {
    font-weight: 600;
    font-style: normal;
    font-size: 1.1em;
}

.callout {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    max-width: 30ch;
}


.caption {
    font-family: "neuzeit-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #7d7c7c;
    margin-top: 8px;
}

.wideCardP {
    max-width: 35ch;
    margin: 1rem 0;
}



/* 
BUTTONS
BUTTONS
BUTTONS */

/* PRIMARY BUTTON */
.primaryButton {
    background-image: linear-gradient(#1992d3, #1992d3);
    color: #f7f7f7;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: .5px;
    padding: .6em 2em;
    transition: ease .2s;
    cursor: pointer;
}

.primaryButton:hover {
    background-image: linear-gradient(to bottom right, #50aee1, #0d3ea7);
    color: #f7f7f750;
}



.secondaryButton {
    background-color: #FAF2EB;
    color: #1992d3;
    border: none;
    border-radius: 8px;
    border: 2px solid #1992d3;
    box-sizing: border-box;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: .5px;
    padding: .6em 2em;
    transition: ease .2s;
    cursor: pointer;
}

.secondaryButton:hover {
    background-color: #e2e7ea;
    color: #0d3ea7;
    border-color: #0d3ea7;
}

.tertiaryLink {
    font-size: 1.3rem;
    color: #1992d3;
    text-decoration: none;
    transition: ease .2s
}

.tertiaryLink:hover {
    color: #0d3ea7;
    text-decoration: underline;
}

.inlineTextLink {
    color: #1992d3;
    font-style: italic;
}

.inlineTextLink:hover {
    color: #0d3ea7;
    text-decoration: underline;
}




/* CARD STYLES */


/* CARD 1 */
.cardStyle1 {
    background-color: #FCF7F2;
    border: .25px solid #12182425;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: .5rem;
    box-shadow: #12182425 0 0 30px;
    transition: ease .2s;
}

.cardStyle1 h3, p {
    padding: .25rem 0;
    margin: 0;

}

.card1Content {
    padding: 1rem;
}

.cardStyle1:hover {
    box-shadow: #12182425 0 10px 30px, #03060c35 0 0px 20px;

}


/* Card 2 */
.cardStyle2 {
    background-color: #FCF7F2;
    border: .25px solid #12182425;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: #12182425 0 0 30px;
    transition: ease.2s;
}

.card2Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    padding: 2rem 1rem
}

.card2Copy {
    padding: 1rem 0;
}




/* FOOTER CARD */

.footerCardLink {
    text-decoration: none;
    color: #333
}

.footerCard p {
    padding: 0 0 .5rem 0;
    margin: 0
}

.footerCard h5 {
    padding: 0;
    margin: 0
}

.footerCard {
    padding: 1rem;
    border-radius: 8px;
    transition: ease .2s;
}

.footerCard:hover {
    box-shadow: #12182425 0 10px 30px, #03060c35 0 5px 20px;

}

.footerCard p {
    padding: 0 0 .5rem 0;
    margin: 0
}



.footerCard h5 {
    padding: 0;
    margin: 0
}